/target/*

# ---- sbt build
# code snippet
code/
project/

# ---- TeX
# tex tmp files
*.aux
*.bbl 
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lo[fglt]
*.out
*.toc
*.xdv
*.synctex*
*.gz
*.tar.bz2

# PDF
chisel-book.pdf
chisel-book-chinese.pdf
